*{margin: 0; padding: 0;} 
/* list-style */
ul, ol, li {list-style:none;}
/* anchor */
a {text-decoration:none;}
a:link {color:#444;}
a:visited {color:#444;}
a:hover {color:#444;}
a:focus {color:#444;}
/*float 속성 해제*/
.clear:after {content:""; display:block; clear:both;}  

/* layout */
.box_inner{width: 1050px; margin: 0 auto;}

/* header 영역 */
header {width:100%; height:100px; background:rgba(2, 231, 78, 0.5); z-index:100;}
.header_area h1 {float:left;}
.header_area h1 a {display:block; width:270px; height:70px; line-height: 100px;}
.header_area .openMOgnb{display: none;}
.header_cont {float:right; width:780px;}
.header_cont .gnb {float:right; box-sizing:border-box;}
.header_cont .gnb li {float: left;  padding:0 40px;}
.header_cont .gnb li a{display:block;  font-size:18px; line-height: 100px;}
.header_cont .gnb li a:hover{color: #f00;}
.header_cont .closePop{display: none;}

/* main 영역 */
section{margin: 30px 10px;}
section div{margin: 20px 10px;}
section p{line-height: 2;}
/* #healing, #activity{height: 300px;} */
#healing img, #activity img{float: left; margin-right: 30px; border-radius: 20px;}
#healing .schedule ul li{list-style: none; margin: 10px;}
#sightseeing ul li{margin: 10px 30px; list-style: square;}
#sightseeing ul a{text-decoration: none; color: #000;}
#sightseeing ul li a:hover{text-decoration: underline;}

/* footer 영역 */
footer{height: 100px; margin: 0 auto; border-top: 2px solid #222}
.foot_area .bottomMenu{margin: 10px 10px 10px 20px;}
.foot_area .bottomMenu li{float: left; border-right: 1px solid #ccc; margin: 10px 0; }
.foot_area .bottomMenu li a{display:block; padding: 0 15px;}
.foot_area .bottomMenu li:last-child{border: none;}

/* 모바일 기준 */
@media all and (max-width:800px) {
    .box_inner {width:100%;}

    header.on {background:#31353d;}
    header {height: 80px; text-align:center;}
    .header_area h1 {float:none; width:100%; height: 50px; text-align:center;}
	.header_area h1 a {display:inline-block; width:180px; height:20px; line-height: 70px;}
    .header_area .openMOgnb .hdd{display: none;}
    .header_area .openMOgnb {display:block; position:absolute; left:15px; top:35px; width:23px; height:16px;}
	.header_area .openMOgnb span {
        box-sizing:border-box; 
        display:block;
         width:25px; height:3px;
         margin-bottom:4px; 
        border-radius:10px; 
        background:#444;}
	.header_area .openMOgnb span + span {width:25px;}
	.header_area .openMOgnb span:last-child {width:25px; margin-bottom:0;}
    .header_cont {
        float:none; 
        width:100%; background:#31353d;
         display:none;}
    .header_cont .closePop {
        display:block; 
        position:absolute; 
        right:0; top:15px;}
	.header_cont .closePop a {
        display:block; 
        width:50px; height:50px; 
        text-indent:-9999px; 
        overflow:hidden; 
        background:url(../images/btn_closeMenu.png) no-repeat;
         background-size:50px; }
    .header_cont .gnb {float:none; box-sizing:border-box; 
        padding-top:0; 
        height:auto; 
        border-top:1px solid #83868b; 
        display: none;}
    .header_cont .gnb li {
        float:left; 
        width:50%; text-align:left; 
        box-sizing:border-box;
         border-bottom:1px solid #83868b;}
    
    section h2{padding-left: 10px;}
    section p, section li{font-size: 14px;}
    #healing img, #activity img{
        float: none; 
        border-radius: 20px; 
        margin-bottom: 15px;}
    
    .foot_area .bottomMenu li a{font-size: 14px;}
}